@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #9c2222;
}
/* Scrollbar estilizada */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: #1f1f1f;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #b91c1c;
  border-radius: 10px;
}

/* Estilos globales para el scroll */
html {
  scrollbar-width: thin;
  scrollbar-color: #b91c1c #1f1f1f; /* thumb y track en Firefox */
}

/* WebKit (Chrome, Edge, Safari) */
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: #1f1f1f;
}

html::-webkit-scrollbar-thumb {
  background-color: #b91c1c;
  border-radius: 10px;
}

.TagContainer
{ 
  width: 100%; 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Intag
{
  padding: 4px 8px;
  border-radius: 4px;
  margin: 4px;
  background-color: #00b963
}

.Extag
{
  padding: 4px 8px;
  border-radius: 4px;
  margin: 4px;
  background-color: #b91c1c;
}
 

.delete-btn {
  background: none;
  border: none;
  margin-left: 8px;
  cursor: pointer;
  font-weight: bold;
  color: white; 
}